:root {
  --bg-dark: #192a32;
  --bg-light: #1f3540;
  --blue: #2fc3be;
  --dark-blue: #118c87;
  --yellow: #f2b237;
  --dark-yellow: #cc8b13;
  --gray: #a8bec9;
  --dark-gray: #6b8997;
  --black: #132732;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  box-shadow: none;
  border: none;
}

body {
  height: 100vh;
  font-family: 'Courier New', Courier, monospace;
  background-color: var(--bg-dark);
  color: var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  background-color: var(--black);
  color: var(--gray);
  padding: 0.2rem;
  border-radius: 0.3rem;
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
}

button {
  width: min(80%, 14rem);
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  color: var(--black);
  background-color: var(--gray);
  box-shadow: 0 6px 0 var(--dark-gray);
  transition: all 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.1);
}

button:active {
  transform: scale(0.95);
}

button.blue {
  background-color: var(--blue);
  box-shadow: 0 6px 0 var(--dark-blue);
}

button.yellow {
  background-color: var(--yellow);
  box-shadow: 0 6px 0 var(--dark-yellow);
}

.card {
  border-radius: 0.5rem;
  background-color: var(--bg-light);
  box-shadow: inset 0 -8px 0 var(--black);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.row {
  flex-direction: row;
}

.screen {
  width: min(30rem, 80%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.start {
  display: none;
}

.actions {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.actions .card {
  padding: 0.6rem;
  padding-bottom: 0.9rem;
}

.actions img {
  width: 2rem;
  height: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
